.navbarTrakindo {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100%;
    background-color: black !important;
    color: white;
}
.navbarContainerImg {
    width: 250px;
    height: 60px;
}
.ImgTrakindo {
    width: 250px;
    height: 60px;
}
.directionRow {
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color:#F9F9F9 !important;
}
.itemNavBar {
    width: 248px;
    height: 60px;
    background-color: rgba(130, 130, 130, 0.43) !important;
    margin-top: 1px;
}
.tableData {
    margin-left: 32px;
    margin-top: 80px;
    background-color:white !important;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
    border-radius: 3px;
}
tr {
    margin-left: 10px;
    margin-right: 10px;
}
.addTodo {
    margin-left: 32px;
    margin-top: 80px;
    background-color:white !important;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
    border-radius: 3px;
    width: 80%;
    padding: 10px;
}
.marginLeft20 {
    margin-left: 20px;
}